main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #181818;
}
h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 10rem;
}
.button-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;

    button {
        padding: 0.4rem 1rem;
        background: transparent;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        user-select: none;
        position: relative;
        transition: background-color 0.2s ease;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.25px;

        &:hover {
            background: rgba(255, 255, 255, 0.04);
        }
        &:focus {
            background: rgba(255, 255, 255, 0.08);
        }
        &:active {
            background: rgba(255, 255, 255, 0.12);
        }
        &:disabled {
            opacity: 30%;
            pointer-events: none;
        }
    }
    ::after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: 8px;
        transform: translateX(-50%);
        font-size: 13px;
        font-weight: 100;
    }
    .is-paused::after {
        content: "Pauza";
    }
    .ended::after {
        content: "Koniec!";
    }
}
.sorting-container {
    max-width: 70vw;
    height: 15rem;
    padding-top: 1.6rem;
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
}
.sorting-column-container,
.sorting-column {
    height: var(--height);
    position: relative;
}
.sorting-column-container {
    margin-left: -1px;
    width: 1.5rem;
    flex-shrink: 1;
}
.sorting-column {
    width: calc(100% - 2px);
    height: 100%;
    background: #0D47A1;
    border: 1px solid white;
    transition: background-color 0.15s ease;

    &:first-child {
        margin-left: 0;
    }

    &.selected {
        background: #E65100;
    }
    &.good {
        color: #33691E;
        animation: flash calc(var(--time) + 10ms) ease-out;
    }
    &.bad {
        color: #C62828;
        animation: flash calc(var(--time) + 10ms) ease-out;
    }
    &.switch-to-left {
        animation: switch-to-left calc(var(--time) + 10ms) ease;
    }
    &.switch-to-right {
        animation: switch-to-right calc(var(--time) + 10ms) ease;
    }
    &.finished {
        background: #33691E;
    }
}
.sorting-container.all-finished .sorting-column {
    animation: shine 0.25s ease-in-out calc(var(--i) * 0.075s + 0.75s);
}

// @keyframes popup {
//     0% {
//         top: -5%;
//         opacity: 0;
//     }
//     80% {
//         opacity: 1;
//         top: -5%;
//     }
//     100% {
//         top: 0;
//     }
// }
@keyframes flash {
    0% {
        background: #0D47A1;
    }
    40% {
        background: currentColor;
    }
    100% {
        background: #0D47A1;
    }
}
@keyframes switch-to-left {
    from {
        right: 0;
    }
    to {
        right: calc(100% - 1px);
    }
}
@keyframes switch-to-right {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 1px);
    }
}
@keyframes shine {
    0%, 100% {
        background: #33691E;
    }
    50% {
        background: #0D47A1;
    }
}