<main>
    <h1>Sortowanie bąbelkowe</h1>
    <div
        class="sorting-container"
        [style]="'--time:' + time + 'ms;--count:' + count"
        [class.all-finished]="allFinished"
        [class.has-animations]="shouldHaveAnimations"
    >
        <div
            class="sorting-column-container"
            *ngFor="let value of sortingValues; let i = index"
            [style]="'--height:' + value.height * 100 + '%;--i:' + i"
        >
            <div
                class="sorting-column"
                [class.selected]="value.selected"
                [class.good]="value.animation == 'good'"
                [class.bad]="value.animation == 'bad'"
                [class.finished]="value.finished"
                [class.switch-to-left]="value.animation == 'switch-to-left'"
                [class.switch-to-right]="value.animation == 'switch-to-right'"
            ></div>
        </div>
    </div>
    <div class="button-container">
        <button
            (click)="resetSortingValues()"
            [disabled]="isSorting"
        >Wylosuj</button>
        <button
            (click)="toggleSorting()"
            [class.is-paused]="hasStarted && !isSorting"
            [class.ended]="allFinished"
            [disabled]="allFinished"
        >Sortuj!</button>
    </div>
</main>